body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.formulario-login{
    position: absolute;
    border-radius: 5px;
    animation: aparecerPorCima 5s linear;
}

@keyframes aparecerPorCima{
    0% {
        transform: translateY(-600px);
    }

    100% {
        transform: translate(0px);
    }
}