body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circuloRetangulo {
    width: 200px;
    height: 200px;
    background-color: darkblue;
    border-radius: 100%;
    transition: all 1.0s ease-in-out;
}

.circuloRetangulo:hover {
    width: 200px;
    height: 100px;
    border-radius: 0;
}