body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quadrado {
    width: 200px;
    height: 200px;
    animation: aparecerModificarCor 5s ease-in-out;
}

@keyframes aparecerModificarCor {
    0% {
        transform: scale(0);
        background-color: red;
    }

    100% {
        transform: scale(1);
        background-color: green;
    }
}