body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circulo {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: darkblue;
    position: absolute;
    animation: moverParaDireita 4s;
}

@keyframes moverParaDireita {
    0% {
        left: 0px;
    }

    100% {
        left: 500px;
    }
}